{% extends "main/base.html" %} {% load static %}
{% block title %}
ABOUT SOFTIVITE LLC, Your Digital Solution
{% endblock title %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">About Us</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item" aria-current="page">About</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container-fluid py-5 my-5">
  <div class="container pt-5">
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        <div class="h-100 position-relative">
          <img src="{% static "img/about-1.jpg" %}" class="img-fluid w-75
          rounded" alt="" style="margin-bottom: 25%" />
          <div class="position-absolute w-75" style="top: 25%; left: 25%">
            <img src="{% static "img/about-2.jpg" %}" class="img-fluid w-100
            rounded" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h5 class="text-secondary">About Us</h5>
        <h1 class="mb-4">
          About HighTech Agency And It's Innovative IT Solutions
        </h1>
        <p>
          At <b class="text-secondary">Softivite Inc LLC</b>, we believe that
          technology should empower, not complicate. Founded in Accra with a
          passion for innovation, we set out to bridge the gap between complex
          IT challenges and straightforward, effective solutions for businesses
          of all sizes.
        </p>
        <br />
        <h6 class="text-secondary">What Makes Us Different?</h6>
        <p class="mb-4">
          We're more than just IT service providers; we're problem-solvers,
          innovators, and strategic partners. We take the time to understand
          your business, your goals, and your unique challenges, allowing us to
          design and implement IT strategies that truly make a difference. Our
          team is constantly learning and adapting to the latest technologies,
          ensuring you always receive cutting-edge advice and solutions.
        </p>
        <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white"
          >More Details</a
        >
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-fluid py-5 mb-5 team">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-secondary">Our Team</h5>
      <h1>Meet our expert Team</h1>
    </div>
    <div class="owl-carousel team-carousel wow fadeIn" data-wow-delay=".5s">
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/sam.jpg" %}" class="img-fluid
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Afari Samuel Adusei</h4>
              <p class="m-0">Software Engineer/CEO</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/bryt.jpg" %}" class="img-fluid w-100
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Bright Kofi Agyemang</h4>
              <p class="m-0">Software Engineer</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/abigail.jpg" %}" class="img-fluid w-100
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Abigail Gbandi</h4>
              <p class="m-0">Project Manager/Marketing Lead</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/sly.jpg" %}" class="img-fluid w-100
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Sylvester Amponsah</h4>
              <p class="m-0">Graphics/UI/UX Designer</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/opoku.jpg" %}" class="img-fluid w-100
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Nana Chris Opoku</h4>
              <p class="m-0">Software Engineer</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

{% endblock content %}
