{% extends "main/base.html" %} {% load static %} {% block content %}
<!-- Carousel Start -->
<div class="container-fluid px-0">
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="{% static "img/1.jpg" %}" class="img-fluid" alt="First slide"
        />
        <div class="carousel-caption">
          <div class="container carousel-content">
            <h6 class="text-secondary h4 animated fadeInUp">
              Transform Your Business with Smart IT
            </h6>
            <h1 class="text-white display-1 mb-4 animated fadeInRight">
              Unlock Your Business's Full Potential
            </h1>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
              From outdated systems to cutting-edge solutions, we transform your
              IT infrastructure to drive efficiency, innovation, and sustainable
              growth. Let technology work for you
            </p>
            <a href="" class="me-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft"
              >
                Read More
              </button></a
            >
            <a href="" class="ms-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight"
              >
                Contact Us
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "img/4.jpg" %}" class="img-fluid" alt="Second slide"
        />
        <div class="carousel-caption">
          <div class="container carousel-content">
            <h6 class="text-secondary h4 animated fadeInUp">
              Secure & Scalable Digital Foundations
            </h6>
            <h1 class="text-white display-1 mb-4 animated fadeInLeft">
              Build a Resilient Digital Future
            </h1>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
              Whether it's a dynamic website, a robust mobile app, or secure
              network solutions, we engineer reliable and scalable platforms
              that protect your data and power your operations.
            </p>
            <a href="" class="me-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft"
              >
                Read More
              </button></a
            >
            <a href="" class="ms-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight"
              >
                Contact Us
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "img/5.webp" %}" class="img-fluid" alt="Third slide"
        />
        <div class="carousel-caption">
          <div class="container carousel-content">
            <h6 class="text-secondary h4 animated fadeInUp">
              Ready to Innovate? Let's Connect!
            </h6>
            <h1 class="text-white display-1 mb-4 animated fadeInLeft">
              Experience IT Excellence Today
            </h1>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
              Ready to elevate your digital presence or streamline your
              operations? Discover how our comprehensive IT services can empower
              your business. Contact us for a free consultation.
            </p>
            <a href="" class="me-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft"
              >
                Read More
              </button></a
            >
            <a href="" class="ms-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight"
              >
                Contact Us
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->

<!-- Fact Start -->
<div class="container-fluid bg-secondary py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">99</h1>
          <h5 class="text-white mt-1">Success in getting happy customer</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">25</h1>
          <h5 class="text-white mt-1">Thousands of successful business</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">120</h1>
          <h5 class="text-white mt-1">Total clients who love HighTech</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">5</h1>
          <h5 class="text-white mt-1">
            Stars reviews given by satisfied clients
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fact End -->

<!-- About Start -->
<div class="container-fluid py-5 my-5">
  <div class="container pt-5">
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        <div class="h-100 position-relative">
          <img src="{% static "img/about-1.jpg" %}" class="img-fluid w-75
          rounded" alt="" style="margin-bottom: 25%" />
          <div class="position-absolute w-75" style="top: 25%; left: 25%">
            <img src="{% static "img/about-2.jpg" %}" class="img-fluid w-100
            rounded" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h5 class="text-secondary">About Us</h5>
        <h1 class="mb-4">
          About HighTech Agency And It's Innovative IT Solutions
        </h1>
        <p>
          At <b class="text-secondary">Softivite Inc LLC</b>, we believe that
          technology should empower, not complicate. Founded in Accra with a
          passion for innovation, we set out to bridge the gap between complex
          IT challenges and straightforward, effective solutions for businesses
          of all sizes.
        </p>
        <br />
        <h6 class="text-secondary">What Makes Us Different?</h6>
        <p class="mb-4">
          We're more than just IT service providers; we're problem-solvers,
          innovators, and strategic partners. We take the time to understand
          your business, your goals, and your unique challenges, allowing us to
          design and implement IT strategies that truly make a difference. Our
          team is constantly learning and adapting to the latest technologies,
          ensuring you always receive cutting-edge advice and solutions.
        </p>
        <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white"
          >More Details</a
        >
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div class="container-fluid services py-5 mb-5">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-secondary">Our Services</h5>
      <h1>Services Built Specifically For Your Business</h1>
    </div>
    <div class="row g-5 services-inner">
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fa fa-code fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Web Design</h4>
              <p class="mb-4">
                We create stunning, user-friendly, and responsive website
                designs that capture your brand's essence and engage your
                audience effectively. Our designs focus on intuitive navigation
                and a seamless user experience.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fa fa-file-code fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Web Development</h4>
              <p class="mb-4">
                From robust e-commerce platforms to dynamic web applications, we
                build high-performance, secure, and scalable websites tailored
                to your specific business needs using the latest technologies.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fa fa-mobile fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Mobile App Development</h4>
              <p class="mb-4">
                We develop innovative and intuitive mobile applications for iOS
                and Android, ensuring a smooth user experience and powerful
                functionality that keeps you connected with your customers on
                the go.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fas fa-desktop fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Desktop App Development</h4>
              <p class="mb-4">
                Enhance your team's productivity with custom-built desktop
                applications. We develop reliable, secure, and efficient
                software solutions designed to streamline your internal
                operations.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fa fa-envelope-open fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Digital Marketing</h4>
              <p class="mb-4">
                Boost your online presence and reach your target audience with
                our comprehensive digital marketing strategies. We specialize in
                SEO, content marketing, social media, and paid advertising to
                drive growth and engagement.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fas fa-laptop fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">System Engineering</h4>
              <p class="mb-4">
                We design, implement, and manage complex IT infrastructures that
                ensure optimal performance, security, and scalability for your
                business. Our expertise helps you build a resilient and
                efficient technological backbone.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->

<!-- Blog Start -->
<div class="container-fluid blog py-5 mb-5">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h1 class="text-secondary">Our Core Values</h1>
    </div>
    <div class="row g-5 justify-content-center">
      <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
        <div class="blog-item position-relative bg-light rounded">
          <img src="{% static "img/project-6.jpg" %}" class="img-fluid w-100
          rounded-top" alt="" />
          <span
            class="position-absolute px-4 py-3 bg-primary text-white rounded"
            style="top: -28px; right: 20px"
            >Excellence</span
          >
          <div
            class="blog-btn d-flex justify-content-between position-relative px-3"
            style="margin-top: -75px"
          >
            <div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill">
              <div class="blog-icon-2">
                <a href="" class="btn me-1"
                  ><i class="fab fa-facebook-f text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-twitter text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-instagram text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="blog-content text-center position-relative px-3"
            style="margin-top: 25px"
          >
            <p class="py-2">
              We strive for the highest quality in every solution and service.
              Our commitment to best practices ensures optimal performance,
              reliability, and security. We aim to exceed your expectations in
              every IT endeavor.
            </p>
          </div>
          <div
            class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom"
          >
            <small class="text-white text-center"
              >Delivering high-quality solutions and exceptional service.</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
        <div class="blog-item position-relative bg-light rounded">
          <img src="{% static "img/project-5.jpg" %}" class="img-fluid w-100
          rounded-top" alt="" />
          <span
            class="position-absolute px-4 py-3 bg-primary text-white rounded"
            style="top: -28px; right: 20px"
            >Integrity</span
          >
          <div
            class="blog-btn d-flex justify-content-between position-relative px-3"
            style="margin-top: -75px"
          >
            <div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill">
              <div class="blog-icon-2">
                <a href="" class="btn me-1"
                  ><i class="fab fa-facebook-f text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-twitter text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-instagram text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="blog-content text-center position-relative px-3"
            style="margin-top: 25px"
          >
            <p class="py-2">
              Honesty, transparency, and ethical conduct guide all our
              interactions. You can trust us to provide candid advice and act in
              your best interest. We build lasting partnerships based on trust
              and clear communication.
            </p>
          </div>
          <div
            class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom"
          >
            <small class="text-white text-center">
              Operating with honesty, transparency, and ethical
              practices.</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
        <div class="blog-item position-relative bg-light rounded">
          <img src="{% static "img/project-4.jpg" %}" class="img-fluid w-100
          rounded-top" alt="" />
          <span
            class="position-absolute px-4 py-3 bg-primary text-white rounded"
            style="top: -28px; right: 20px"
            >Innovation</span
          >
          <div
            class="blog-btn d-flex justify-content-between position-relative px-3"
            style="margin-top: -75px"
          >
            <div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill">
              <div class="blog-icon-2">
                <a href="" class="btn me-1"
                  ><i class="fab fa-facebook-f text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-twitter text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-instagram text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="blog-content text-center position-relative px-3"
            style="margin-top: 25px"
          >
            <p class="py-2">
              We constantly explore new technologies and smarter methodologies.
              Our drive for innovation helps future-proof your business. We
              ensure you leverage cutting-edge solutions for a competitive edge.
            </p>
          </div>
          <div
            class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom"
          >
            <small class="text-white text-center"
              >Constantly seeking new and better ways to solve problems.</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
        <div class="blog-item position-relative bg-light rounded">
          <img src="{% static "img/project-1.jpg" %}" class="img-fluid w-100
          rounded-top" alt="" />
          <span
            class="position-absolute px-4 py-3 bg-primary text-white rounded"
            style="top: -28px; right: 20px"
            >Client-Centricity</span
          >
          <div
            class="blog-btn d-flex justify-content-between position-relative px-3"
            style="margin-top: -75px"
          >
            <div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill">
              <div class="blog-icon-2">
                <a href="" class="btn me-1"
                  ><i class="fab fa-facebook-f text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-twitter text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-instagram text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="blog-content text-center position-relative px-3"
            style="margin-top: 25px"
          >
            <p class="py-2">
              Your success is our top priority. We deeply understand your unique
              business goals and challenges. Every IT strategy we design is
              precisely tailored to deliver tangible value for your growth.
            </p>
          </div>
          <div
            class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom"
          >
            <small class="text-white text-center"
              >Putting our clients' needs at the heart of everything we
              do.</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
        <div class="blog-item position-relative bg-light rounded">
          <img src="{% static "img/project-2.jpg" %}" class="img-fluid w-100
          rounded-top" alt="" />
          <span
            class="position-absolute px-4 py-3 bg-primary text-white rounded"
            style="top: -28px; right: 20px"
            >Collaboration</span
          >
          <div
            class="blog-btn d-flex justify-content-between position-relative px-3"
            style="margin-top: -75px"
          >
            <div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill">
              <div class="blog-icon-2">
                <a href="" class="btn me-1"
                  ><i class="fab fa-facebook-f text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-twitter text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-instagram text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="blog-content text-center position-relative px-3"
            style="margin-top: 25px"
          >
            <p class="py-2">
              We believe in strong partnerships and open communication. Working
              hand-in-hand with your team, we combine our expertise with your
              business knowledge. This ensures well-integrated solutions and
              shared success.
            </p>
          </div>
          <div
            class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom"
          >
            <small class="text-white text-center"
              >Working together with clients to achieve shared success.</small
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
        <div class="blog-item position-relative bg-light rounded">
          <img src="{% static "img/project-3.jpg" %}" class="img-fluid w-100
          rounded-top" alt="" />
          <span
            class="position-absolute px-4 py-3 bg-primary text-white rounded"
            style="top: -28px; right: 20px"
            >Accountability</span
          >
          <div
            class="blog-btn d-flex justify-content-between position-relative px-3"
            style="margin-top: -75px"
          >
            <div class="blog-btn-icon btn btn-secondary px-4 py-3 rounded-pill">
              <div class="blog-icon-2">
                <a href="" class="btn me-1"
                  ><i class="fab fa-facebook-f text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-twitter text-white"></i
                ></a>
                <a href="" class="btn me-1"
                  ><i class="fab fa-instagram text-white"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="blog-content text-center position-relative px-3"
            style="margin-top: 25px"
          >
            <p class="py-2">
              We take full ownership of our commitments and results. You can
              rely on us to deliver on our promises and address challenges
              proactively. We are dedicated to ensuring your complete
              satisfaction and success.
            </p>
          </div>
          <div
            class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom"
          >
            <small class="text-white text-center"
              >Constantly seeking new and better ways to solve problems.</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog End -->

<!-- Team Start -->
<div class="container-fluid py-5 mb-5 team">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-secondary">Our Team</h5>
      <h1>Meet our expert Team</h1>
    </div>
    <div class="owl-carousel team-carousel wow fadeIn" data-wow-delay=".5s">
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/afari.jpg" %}" class="img-fluid
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Afari Samuel Adusei</h4>
              <p class="m-0">Software Engineer/CEO</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/bryt.jpg" %}" class="img-fluid w-100
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Bright Kofi Agyemang</h4>
              <p class="m-0">Software Engineer</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/abigail.jpg" %}" class="img-fluid w-100
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Abigail Gbandi</h4>
              <p class="m-0">Project Manager/Marketing Lead</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded team-item">
        <div class="team-content">
          <div class="team-img-icon">
            <div class="team-img rounded-circle">
              <img src="{% static "img/sly.jpg" %}" class="img-fluid w-100
              rounded-circle" alt="" width="100px" height="100px"/>
            </div>
            <div class="team-name text-center py-3">
              <h4 class="">Sylvester Amponsah</h4>
              <p class="m-0">Graphics/UI/UX Designer</p>
            </div>
            <div class="team-icon d-flex justify-content-center pb-4">
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-square btn-secondary text-white rounded-circle m-1"
                href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
<div class="container-fluid testimonial py-5 mb-5">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-secondary">Our Testimonial</h5>
      <h1>Our Client Saying!</h1>
    </div>
    <div
      class="owl-carousel testimonial-carousel wow fadeIn"
      data-wow-delay=".5s"
    >
      <div class="testimonial-item border p-4">
        <div class="d-flex align-items-center">
          <div class="">
            <i class="fas fa-user" style="font-size: 50px"></i>
          </div>
          <div class="ms-4">
            <h4 class="text-secondary">Ama Serwaa</h4>
            <p class="m-0 pb-3">Fashing Designer</p>
            <div class="d-flex pe-5">
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
            </div>
          </div>
        </div>
        <div class="border-top mt-4 pt-3">
          <p class="mb-0">
            Choosing Softivite LLC for our web design and development was the
            best decision we made. They truly understood our vision, delivering
            a stunning, user-friendly website that perfectly represents our
            brand. Their team was professional, highly skilled, and kept us
            informed every step of the way.
          </p>
        </div>
      </div>
      <div class="testimonial-item border p-4">
        <div class="d-flex align-items-center">
          <div class="">
            <i class="fas fa-user" style="font-size: 50px"></i>
          </div>
          <div class="ms-4">
            <h4 class="text-secondary">Kofi Mensah</h4>
            <p class="m-0 pb-3">Marketing Director</p>
            <div class="d-flex pe-5">
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
            </div>
          </div>
        </div>
        <div class="border-top mt-4 pt-3">
          <p class="mb-0">
            Our digital marketing efforts were struggling until we partnered
            with Softivite LLC. Their strategic approach to SEO and social media
            transformed our online presence, bringing in quality leads we never
            thought possible. Their expertise is unmatched, and they've become
            an invaluable part of our growth strategy
          </p>
        </div>
      </div>
      <div class="testimonial-item border p-4">
        <div class="d-flex align-items-center">
          <div class="">
            <i class="fas fa-user" style="font-size: 50px"></i>
          </div>
          <div class="ms-4">
            <h4 class="text-secondary">Nana Yaa Boateng</h4>
            <p class="m-0 pb-3">Operations Manager</p>
            <div class="d-flex pe-5">
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
            </div>
          </div>
        </div>
        <div class="border-top mt-4 pt-3">
          <p class="mb-0">
            We needed a custom mobile app to streamline our field operations,
            and Softivite LLC delivered beyond our expectations. The app is
            incredibly intuitive, robust, and has significantly boosted our
            team's efficiency. Their developers were highly collaborative and
            ensured the final product met all our complex requirements
          </p>
        </div>
      </div>
      <div class="testimonial-item border p-4">
        <div class="d-flex align-items-center">
          <div class="">
            <i class="fas fa-user" style="font-size: 50px"></i>
          </div>
          <div class="ms-4">
            <h4 class="text-secondary">Kwesi Ofori</h4>
            <p class="m-0 pb-3">IT Head</p>
            <div class="d-flex pe-5">
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
              <i class="fas fa-star me-1 text-primary"></i>
            </div>
          </div>
        </div>
        <div class="border-top mt-4 pt-3">
          <p class="mb-0">
            The system engineering support from Softivite LLC has been
            exceptional. They completely overhauled our IT infrastructure,
            making it more secure and reliable. Their team is proactive,
            responsive, and quickly resolves any issues that arise. It's a huge
            relief knowing our critical systems are in such capable hands.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial End -->

<!-- Contact Start -->
<div class="container-fluid py-5 mb-5">
  <div class="container">
    <div class="contact-detail position-relative p-5">
      <div class="row g-5 mb-5 justify-content-center">
        <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".3s">
          <div class="d-flex bg-light p-3 rounded">
            <div
              class="flex-shrink-0 btn-square bg-secondary rounded-circle"
              style="width: 64px; height: 64px"
            >
              <i class="fas fa-map-marker-alt text-white"></i>
            </div>
            <div class="ms-3">
              <h4 class="text-primary">Address</h4>
              <a
                href="https://goo.gl/maps/Zd4BCynmTb98ivUJ6"
                target="_blank"
                class=""
                >Accra-Ghana</a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".5s">
          <div class="d-flex bg-light p-3 rounded">
            <div
              class="flex-shrink-0 btn-square bg-secondary rounded-circle"
              style="width: 64px; height: 64px"
            >
              <i class="fa fa-phone text-white"></i>
            </div>
            <div class="ms-3">
              <h4 class="text-primary">Call Us</h4>
              <a class="" href="tel:+0123456789" target="_blank"
                >+233 (0) 246136978</a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 wow fadeIn" data-wow-delay=".7s">
          <div class="d-flex bg-light p-3 rounded">
            <div
              class="flex-shrink-0 btn-square bg-secondary rounded-circle"
              style="width: 64px; height: 64px"
            >
              <i class="fa fa-envelope text-white"></i>
            </div>
            <div class="ms-3">
              <h4 class="text-primary">Email Us</h4>
              <a class="" href="mailto:softiviteinc@gmail.com" target="_blank"
                >softiviteinc@gmail.com</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock content %}
