{% extends "main/base.html" %} {% load static %} {% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">Services</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item" aria-current="page">Services</li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- Fact Start -->
<div class="container-fluid bg-secondary py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">99</h1>
          <h5 class="text-white mt-1">Success in getting happy customer</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">25</h1>
          <h5 class="text-white mt-1">Thousands of successful business</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">120</h1>
          <h5 class="text-white mt-1">Total clients who love HighTech</h5>
        </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
        <div class="d-flex counter">
          <h1 class="me-3 text-primary counter-value">5</h1>
          <h5 class="text-white mt-1">
            Stars reviews given by satisfied clients
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fact End -->

<!-- Services Start -->
<div class="container-fluid services py-5 mb-5">
  <div class="container">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-secondary">Our Services</h5>
      <h1>Services Built Specifically For Your Business</h1>
    </div>
    <div class="row g-5 services-inner">
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fa fa-code fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Web Design</h4>
              <p class="mb-4">
                We create stunning, user-friendly, and responsive website
                designs that capture your brand's essence and engage your
                audience effectively. Our designs focus on intuitive navigation
                and a seamless user experience.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fa fa-file-code fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Web Development</h4>
              <p class="mb-4">
                From robust e-commerce platforms to dynamic web applications, we
                build high-performance, secure, and scalable websites tailored
                to your specific business needs using the latest technologies.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fa fa-mobile fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Mobile App Development</h4>
              <p class="mb-4">
                We develop innovative and intuitive mobile applications for iOS
                and Android, ensuring a smooth user experience and powerful
                functionality that keeps you connected with your customers on
                the go.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fas fa-desktop fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Desktop App Development</h4>
              <p class="mb-4">
                Enhance your team's productivity with custom-built desktop
                applications. We develop reliable, secure, and efficient
                software solutions designed to streamline your internal
                operations.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fa fa-envelope-open fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">Digital Marketing</h4>
              <p class="mb-4">
                Boost your online presence and reach your target audience with
                our comprehensive digital marketing strategies. We specialize in
                SEO, content marketing, social media, and paid advertising to
                drive growth and engagement.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
        <div class="services-item bg-light">
          <div class="p-4 text-center services-content">
            <div class="services-content-icon">
              <i class="fas fa-laptop fa-7x mb-4 text-primary"></i>
              <h4 class="mb-3">System Engineering</h4>
              <p class="mb-4">
                We design, implement, and manage complex IT infrastructures that
                ensure optimal performance, security, and scalability for your
                business. Our expertise helps you build a resilient and
                efficient technological backbone.
              </p>
              <a
                href=""
                class="btn btn-secondary text-white px-5 py-3 rounded-pill"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->

{% endblock content %}
